/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-principal: #1b2a41;
  --cor-secundaria: #f4f7f8;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--cor-secundaria);
}

/* ========================= */
/* Header */
/* ========================= */
header {
  background-color: var(--cor-principal);
  width: 100%;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-img {
  height: 100px;
}

.theme-buttons {
  display: flex;
  gap: 10px;
}

.theme-btn {
  width: 16px;
  height: 16px;
  border: 1px solid lightgray;
  border-radius: 50%;
  cursor: pointer;
}

.theme-btn.lightblue {
  background-color: var(--cor-secundaria);
}
.theme-btn.mint {
  background-color: #e2f4f3;
}
.theme-btn.lightgray {
  background-color: #b4b4b4;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.5s ease;
}

.nav-links a:hover {
  color: #dfe0e0;
  transform: scale(1.02);
  text-decoration: underline;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--cor-secundaria);
  font-size: 24px;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.menu-mobile a {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-size: 14px;
  padding: 8px 0;
}

.hidden {
  display: none;
}

/* ========================= */
/* Banner */
/* ========================= */
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/imgs/banner-intro.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  padding: 0 20px;
}

.banner-text {
  color: var(--cor-secundaria);
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}
/* ========================= */
/* Nossos Objetivos */
/* ========================= */

#objetivos {
  /* background-color: #1f2733; */
  color: #ffffff;
  padding: 60px 30px;
  text-align: center;
}

#objetivos h2 {
  font-size: 26px;
  margin-bottom: 40px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: var(--cor-principal);
}

.slideshow-container {
  position: relative;
  max-width: 900px;
  margin: auto;
  overflow: visible;
  z-index: 1;
}

.card-slide {
  background-color: #2a3442;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.card-slide:hover {
  transform: translateY(-5px);
}

.slide-fade {
  display: none;
}

.card-slide img {
  width: 80%;
  height: auto;
  max-height: 400px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.card-slide h3 {
  margin-top: 15px;
  font-size: 24px;
}

.card-slide p {
  margin-top: 10px;
  color: #d1d1d1;
  line-height: 1.6;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.seta {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  padding: 6px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
  z-index: 9999;
}

.seta.anterior {
  left: -40px;
}

.seta.proximo {
  right: -40px;
}

.seta:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.seta img {
  width: 20px;
  height: 20px;
  display: block;
  filter: invert(100%);
}

.fade {
  animation: efeitoFade 1.5s;
}

@keyframes efeitoFade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* ========================= */
/* Desafios */
/* ========================= */

#desafios {
  background-color: #0f2239;
  color: #ffffff;
  padding: 40px 20px;
  text-align: center;
}

#desafios h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: nowrap;
}

.imagem img {
  width: 400px;
  border-radius: 8px;
  object-fit: cover;
}

.texto {
  background-color: #e9eff5;
  color: #0f2239;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  text-align: left;
  line-height: 1.6;
  font-size: 20px;
}

/* ========================= */
/* Tecnologias */
/* ========================= */

#tecnologias {
  padding: 50px 20px;
  text-align: center;
}

#tecnologias h2 {
  color: var(--cor-principal);
  margin-bottom: 40px;
  font-size: 20px;
}

.container-tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  background-color: #d0d6db;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  height: 300px;
  display: flow;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 40px;
  margin-bottom: 15px;
}

.card p {
  color: var(--cor-principal);
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
}

.center-image img {
  width: 160px;
}

/* ========================= */
/* Público Alvo */
/* ========================= */

#publico-alvo {
  /* background-color: var(--cor-principal); */
  color: #ffffff;
  padding: 60px 40px;
}

.container-publico-alvo {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.quadro-imagens-publico-alvo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  flex: 1;
  min-width: 350px;
}

.quadro-imagens-publico-alvo img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.conteudo-direita-publico-alvo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  min-width: 350px;
}

.conteudo-publico-alvo {
  width: 100%;
  text-align: left;
}

.conteudo-publico-alvo h2 {
  font-size: 28px;
  color: var(--cor-principal);
  margin-bottom: 10px;
}

.cards-publico-alvo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cards-publico-alvo article {
  background-color: #2a3442;
  border-radius: 10px;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.cards-publico-alvo article:hover {
  transform: translateY(-5px);
}

.cards-publico-alvo article img {
  width: 60px;
  height: 60px;
}

.cards-publico-alvo article p {
  font-size: 18px;
  line-height: 1.6;
  color: #d1d1d1;
}

/* ========================= */
/* IMPACTOS */
/* ========================= */

#impactos {
  padding: 80px 20px;
  text-align: center;
  background-color: var(--cor-principal) ;
}

#impactos h1 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
}

#impactos h2 {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.impactos-container {
  position:relative;
  width: 100%;
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;

}

.impactos-container div {
  position: absolute;
  background-color: #2a3442;
  color: white;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 1.5s ease;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.impactos-container div:hover {
  transform: scale(1.05);
}

.impactos-container h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--cor-secundaria);
}
.impactos-container p {
  font-size: 12px;
  color: var(--cor-secundaria);
}

.primeira-bola {
  top: 10%;
  left: 10%;
}

.segunda-bola {
  left: 10%;
  bottom: 10%;
}

.terceira-bola {
  right: 10%;
  top: 10%;
}

.quarta-bola {
  bottom: 10%;
  right: 10%;
}

/* ================= */
/* Beneficios */
/* ========================= */
#beneficios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  & > h2 {
    color: var(--cor-principal);
    font-size: 28px;
    text-align: center;
  }
  & > .cards-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
    & > .card-beneficio {
      border: 1px solid #c6cbd0;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 15px;
      height: 300px;
      width: 200px;
      color: var(--cor-principal);
      padding: 7px;
      transition: 0.3s ease-in-out;
      & > img {
        width: 48px;
      }
      & > h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
      }
      & > p {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
      }
    }
  }
}

.card-beneficio:hover {
  transform: scale(1.05);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.445);
}

/* ========================= */
/* Contato */
/* ========================= */

#contato {
  background: linear-gradient(to bottom, #3d5a80, var(--cor-principal));
  padding: 60px 20px;
  color: #ffffff;
}

.contato-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.contato-info {
  flex: 1;
  min-width: 280px;
}

.contato-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.4;
}

.contato-info p {
  font-size: 14px;
  margin: 10px 0;
}

.icones-sociais {
  margin-top: 20px;
}

.icones-sociais a img {
  width: 24px;
  margin-right: 12px;
  transition: transform 0.3s ease;
  filter: brightness(0) invert(1); /* deixa branco */
}

.icones-sociais a img:hover {
  transform: scale(1.1);
}

/* Formulário */
.formulario-contato {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.formulario-contato small {
  margin-bottom: 10px;
  font-size: 12px;
  color: #cccccc;
}

.formulario-contato input,
.formulario-contato textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #000000;
  width: 100%;
  box-sizing: border-box;
}

.formulario-contato textarea {
  resize: none;
  height: 100px;
}

.formulario-contato button {
  width: 100px;
  padding: 8px;
  border: none;
  background-color: #ffffff;
  color: var(--cor-principal);
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.formulario-contato button:hover {
  background-color: #d9d9d9;
}

/* ========================= */
/* Quiz */
/* ========================= */
#quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

#quiz h2 {
  color: var(--cor-principal);
  text-align: center;
  font-size: 28px;
}

#quiz p {
  color: var(--cor-principal);
  text-align: center;
}

.start-btn {
  background-color: #2a3442;
  color: var(--cor-secundaria);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  max-width: 400px;
  transition: 0.3s ease-in-out;
  font-size: 16px;
}

.start-btn:hover {
  background-color: #212833;
}

.quiz-box {
  background-color: #c6cbd0;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
  padding: 20px 10px;
}

.answers-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.option-btn {
  border: none;
  border-radius: 7px;
  background-color: var(--cor-secundaria);
  color: var(--cor-principal);
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  max-width: 400px;
  transition: 0.3s ease;
}

.option-btn:hover {
  transform: scale(1.02);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

.option-btn.selected {
  background-color: #2a3442;
  color: var(--cor-secundaria);
  transform: scale(1.02);
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

.quiz-controls {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: #2a3442;
  color: var(--cor-secundaria);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  transition: 0.3s ease;
}

.nav-btn:hover {
  background-color: #212833;
}

/* ========================= */
/* Footer */
/* ========================= */
footer {
  background-color: var(--cor-principal);
  color: var(--cor-secundaria);
  padding: 8px 0;
  text-align: center;
}

footer p {
  font-size: 14px;
}

/* ========================= */
/* Responsividade */
/* ========================= */

@media (max-width: 600px) {
  #objetivos h2 {
    font-size: 20px;
  }

  .card-slide h3 {
    font-size: 20px;
  }

  .card-slide p {
    font-size: 14px;
  }

  .seta.anterior {
    left: 10px;
  }

  .seta.proximo {
    right: 10px;
  }

  .seta {
    font-size: 20px;
    padding: 8px;
  }
}

@media (min-width: 900px) {
  .cards-publico-alvo {
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .nav-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
@media (min-width: 900px) {
  .container-publico-alvo {
    flex-wrap: nowrap;
  }
}
.cards-publico-alvo {
  flex-direction: column;
}

@media (max-width: 900px) {
    .impactos-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .impactos-container div {
        position: static;
        transform: none;
    }
}

@media (max-width: 600px) {
  #desafios .container {
    flex-direction: column;
    align-items: center;
  }
}
